body {
	
	margin: 0;
	padding: 0;
	border:none;
	background: #FFFFFF;
	}

a:active, a:focus {
outline: 0
}

h1 {
	margin: 0;
	padding: 0;
	text-indent:-9999px;
	width: 255px;
	height: 0px;
	border: none;
	/* background: url('superbgimage.png') no-repeat; */
}
h1 a {
	display: block;
	overflow: hidden;
	width: 255px;
	height: 100px;
	border: none;
}
a {
	color: #FFFFFF;
	text-decoration: none;
	border: none;
	margin-left:0px;	
}

.loadset1 {
	position: absolute;
	left: 0px;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	}
	
.titresong {
	color: #000000;
	position: absolute;
	left: 0px;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	background-color: #FFFFFF;
	border-left-width: 0px;
	border-left-color: #FFFFFF;
	border-left-style: solid;
	border-right-width: 5px;
	border-right-color: #FFFFFF;
	border-right-style: solid;
	}
	
.datephoto {
	color: #3E3E3E;
	position: absolute;
	left: 0px;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	background-color: #FFFFFF;
	border-left-width: 0px;
	border-left-color: #FFFFFF;
	border-left-style: solid;
	border-right-width: 5px;
	border-right-color: #FFFFFF;
	border-right-style: solid;
	}

	
.credit {
	color: #3E3E3E;
	position: relative;
	left: 0px;
	line-height: 6px;
	font-family: 'Playfair Display', Georgia, serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	background-color: #FFFFFF;
	border-left-width: 0px;
	border-left-color: #FFFFFF;
	border-left-style: solid;
	border-right-width: 5px;
	border-right-color: #FFFFFF;
	border-right-style: solid;
	margin-left:0px;	
	visibility:hidden;
	}	
	
.slash {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	}
	
.small {
	position: absolute;
	left: 0px;
	font-size:10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	line-height: normal;
	font-weight: lighter;
	}
	
.smallgris {
	color: #D8D8D8;
	}

.small_dark {
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	
}

.next {
	border:none;
	position: fixed;
	left: 81px;
	top: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	margin-left:0px;
	visibility:hidden;
	}

.prev {
	border:none;
	position: fixed;
	left: 60px;
	top: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: italic;
	margin-left:0px;
	visibility:hidden;
	}
	

.loadset2 {
	position: absolute;
	left: 0px;
}

#overlay {
	border:none;
	position: absolute;
	width: 255px;
	z-index:200;
}

#overlay a img {
 border: none;
 }

#shadow {
	margin-bottom: 12px;
	margin-top: 12px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 2);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 2);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 2);
	}


fieldset {
	text-align: left;
	margin-bottom: 0px;
	padding: 0px;
	border: none;
}
fieldset * {
	text-align: left;
	border: none
}

.small a:hover {
	color: #FFEDDD;
	}

#control {
	margin-top: -8px;
	margin-left: -0.5px;
	text-align: left;
	line-height: 24px;
	border: none;
}
#control a {
	text-decoration: none;
	border: none;
	/*font-weight: bold;
	padding: 5px;*/
}

#thumbs, #thumbs1, #thumbs2 {
	text-align: center;
	display: none;
}
#thumbs a, #thumbs1 a, #thumbs2 a {
	display: block;
	line-height: 22px;
	float: left;
	width: 22px; 
	height: 22px;
}

#transition {
	width:100%;
}

#showtitle {
	z-index: 3;
	position: relative;
	display: none;
	padding: 10px;
	width: 275px;
	border: none;
	/*border-top: solid 1px #d4d4d4;
	border-left: solid 1px #d4d4d4;
	border-right: solid 1px #666;
	border-bottom: solid 1px #666;*/	
}

/*a.activeslide { background:red; }*/

#superbgimage {
	display: none;
	background: #FFFFFF url('../assets/superbgloading_CADRE.gif') center center no-repeat;
}
#superbgimage img {
	/*-moz-border-radius:5px;
	-webkit-border-radius:5px;*/
	cursor:pointer;
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
}

#audioplayer {
	margin-left:0px;
	padding: 0px;
	text-align: left;
	border: none;
}
.fb {
	margin-left:50px;
	margin-top:0px;
	margin-right:0px;
	border:none;
	overflow:hidden;
	width:106px;
	height:21px;
}